@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #3f4850;
}

header {
  position: relative;
  perspective: 750px;
  color: rgba(255, 255, 255, 0.9);
  padding: 5px 0;
  margin: 0 auto 15px;
  background: linear-gradient(to right, rgb(0, 13, 26), rgb(3, 46, 104));
}

.logo-react {
  width: 50px;
  display: none;
}

h1 {
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  color: deepskyblue;
  text-transform: uppercase;
  text-shadow: 2px 0 0 deepskyblue;
  letter-spacing: 2px;
}

.heading-reflection {
  color: rgba(0, 191, 255, 0.03);
  text-shadow: -2px 0 0px rgba(0, 191, 255, 0.03), 2px 0 0px rgba(0, 191, 255, 0.03);
  margin-top: -27px;
  transform: rotateX(180deg);
}

h2 {
  font-size: 2em;
  margin: 25px 0 40px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.search-form {
  width: 90%;
  max-width: 300px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  background-color: deepskyblue;
  border: 1px solid transparent;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
  box-shadow: 6px 6px 9px rgba(38, 42, 253, 0.2) inset, -6px -6px 9px rgba(38, 42, 253, 0.2) inset;
  transition: all 0.4s ease-out;
}

input {
  font-size: 1em;
  width: 100%;
  background-color: rgba(237, 239, 240, 0.95);
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
  transition: all 0.4s ease-out;
}

.slider-scale {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 300px; 
  margin: auto;
}

.slider {
  cursor: pointer;
  width: 90%;
  max-width: 300px;
  margin: auto;
  padding: 0;
}

.slider-hint {
  font-family: 'Courier New', monospace;
  font-style: italic;
  font-size: 0.7em;
  margin: -10px auto 25px;
}

.main-nav {
  width: 90%;
  max-width: 300px;
  margin: auto;
}

.main-nav ul {
  overflow: hidden;
  border-radius: 4px;
}

.main-nav li {
  width: 100%;
  margin: 0 auto;
}

.main-nav a {
  display: block;
  background: deepskyblue;
  padding: 15px;
  color: #fff;
  border: 1px solid rgba(38, 59, 253, 0.9);
  box-shadow: 6px 6px 9px rgba(38, 42, 253, 0.3) inset, -6px -6px 9px rgba(38, 42, 253, 0.3) inset;
  transition: all 0.4s ease-out;
}

.main-nav li:nth-of-type(1) a,
.main-nav li:nth-of-type(2) a,
.main-nav li:nth-of-type(3) a {
  border-bottom: none;
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
  background-color:  rgba(66, 6, 82, 0.9);
  border: 1px solid rgba(210, 30, 255, 0.5);
  box-shadow: 6px 6px 9px rgba(235, 164, 253, 0.2) inset, -6px -6px 9px rgba(210, 30, 255, 0.2) inset;
}

.photo-container {
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
  background: rgba(50, 50, 50, 0.9);
  background: linear-gradient(to right, rgb(0, 13, 26), rgb(3, 46, 104));
  border-radius: 0 4px 4px 4px;
}

.photo-container .main-nav ul li {
  height: auto;
}

.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

.loading {
  width: 100%;
  text-align: center;
}

.no-results,
.not-found {
  width: 100%;
  max-width: 460px;
  margin: auto;
  padding-bottom: 25px;
  border-top: 1px solid rgba(0, 0, 50, 0.7);
  border-bottom: 1px solid rgba(0, 0, 50, 0.7);
}

.no-results img,
.not-found img {
  width: 90%;
  max-width: 420px;
}


@media only screen and (min-width: 768px)  {

  body {
    background: linear-gradient(to right, rgb(0, 13, 26), rgb(3, 46, 104));
  }

  .container {
    display: flex;
    flex-flow: row wrap;
  }

  header {
    width: 100%;
  }

  .logo-react {
    display: block;
    position: absolute;
    top: 35px;
    left: 125px;
  }

  .logo-reflection {
    top: 65px;
    left: 125px;
    filter: opacity(10%);
  }

  @media (prefers-reduced-motion: no-preference) {
    .logo-react {
      animation: logoSpin 20s infinite linear;
    }

    .logo-reflection {
      animation: reflectionSpin 20s infinite linear;
    }
  }

  @keyframes logoSpin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
  }

  @keyframes reflectionSpin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-360deg)}
  }

  h1 {
    font-size: 2.5em;
    letter-spacing: 2.5px;
  }
  
  .heading-reflection {
    margin-top: -45px;
    text-shadow: -2px 0 0px rgba(0, 191, 255, 0.03), 2px 0 0px rgba(0, 191, 255, 0.03);
  }

  .control-panel {
    max-width: 300px;
  }

  .slider-scale {
    max-width: 255px;
  }

  .slider {
    max-width: 270px;
  }

  .slider-hint,
  .slider-scale {
    color: white;
  }

  .photo-container {
    width: calc(100% - 330px);
  }
}
